@model FDB.Models.ViewModelSearchKT_THIETHAIKHAITHAC
@using PagedList.Mvc;
@using FDB.Helpers;
<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />

@{
    ViewBag.Title = "Thiệt hại khai thác";
}
<script src="~/Scripts/datepicker.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-delete-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        // hien thi confirm dialog khi click delete tren grid
        $(".lnkDelete").click(function () {
            url = $(this).attr('href');
            $("#dialog-delete-confirm").dialog('open');



            return false;
        });


        $("#TU_NGAY").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $("#DEN_NGAY").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
    });
</script>
<div class="container fdb-div-content fdb-div-corner-all">
    <h3 class="text-center fdb-title-search-form">Tra cứu tai nạn tàu cá</h3>
    <div class="container">
        @using (Html.BeginForm("Index", "KT_THIETHAIKHAITHAC", FormMethod.Get))
        {
            <br />
            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-search-border">Chỉ tiêu tìm kiếm</legend>
                <div class="row">
                    <div class="col-md-2 control-label">
                        Số đăng ký tàu
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SODK_TAU, new { @class = "form-control" })
                    </div>

                    <div class="col-md-2 control-label">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label">
                        Thời gian gặp nạn từ
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TU_NGAY)
                        @Html.ValidationMessageFor(model => model.TU_NGAY)
                    </div>

                    <div class="col-md-2 control-label">
                        đến
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DEN_NGAY)
                        @Html.ValidationMessageFor(model => model.DEN_NGAY)
                    </div>
                </div>



                <p class="margin-top-05">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-search"></span> Tìm kiếm
                    </button>

                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Thêm mới", "Create", "KT_THIETHAIKHAITHAC", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })

                    @*@Html.NoEncodeActionLink("<i class='fa fa-file-excel-o'></i> Xuất Excel", "Xuất Excel", "ExportExcel", "KT_THIETHAIKHAITHAC", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })*@
                </p>

            </fieldset>
        }

        <fieldset class="fdb-scheduler-border">
            <legend class="fdb-scheduler-search-border">Kết quả tìm kiếm</legend>

            <label id="lblMessageTotal" style="color:blue; font-weight:bold">Tổng số bản ghi: @ViewBag.TotalRow</label>
            <table class="table table-hover table-bordered table-condensed">
                <tr>
                    <th>
                        Số đăng ký tàu
                    </th>
                    <th>
                        Số thuyền viên
                    </th>
                    <th>
                        Khu vực gặp nạn
                    </th>
                    <th>
                        Thời gian gặp nạn
                    </th>
                    <th>
                        Thiệt hại ước tính (VNĐ)
                    </th>
                    <th></th>
                </tr>
                @{
                    if (Model.SearchResults != null)
                    {
                        foreach (var item in Model.SearchResults)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SO_DK_TAU)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SO_THUYENVIEN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KHUVUC_GAPNAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TG_GAPNAN)
                                </td>
                                <td>
                                    @if (item.THIETHAI_UOCTINH.HasValue)
                                    {
                                        @(String.Format("{0}", item.THIETHAI_UOCTINH == null ? string.Empty : item.THIETHAI_UOCTINH.Value.ToString("#,###")))
                                    }

                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","KT_THIETHAIKHAITHAC",new { id = item.ID })">
                                        <img src="@Url.Content("~/fonts/grid-edit-icon.png")" title="Sửa" />
                                    </a>

                                    <a href="@Url.Action("Delete", "KT_THIETHAIKHAITHAC", new { id = item.ID })" onclick="return confirm('Bạn chắc chắn muốn xóa không?');">
                                        <img src="@Url.Content("~/fonts/grid-delete-icon1.gif")" title="Xóa" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }

            </table>

        </fieldset>
        <br />


        <br />


        @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new { page, Model.SODK_TAU, Model.TU_NGAY, Model.DEN_NGAY }))
    </div>
</div>