@model FDB.Models.DM_NGHE

@{
    ViewBag.Title = "Sửa thông tin nghề";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="container fdb-div-content fdb-div-corner-all">
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.DM_NgheID)

            <div class="form-group">
                @Html.LabelFor(model => model.DM_NhomNgheID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("DM_NhomNgheID", String.Empty)*@
                    @Html.DropDownListFor(model => model.DM_NhomNgheID, (SelectList)ViewBag.DM_NhomNghes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DM_NhomNgheID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenNghe, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TenNghe, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TenNghe)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MoTa)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Cập nhật
                    </button>
                    &nbsp;
                    @Html.ActionLink("Quay lại", "Index", "DM_NGHE", null, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>
    }

</div>