@model FDB.Models.KT_IUU_GIAYXN_NGUYENLIEU

@{
    ViewBag.Title = "Giấy xác nhận";
}

@using (Html.BeginForm("EditXN", "KT_IUU", FormMethod.Post))
{
    <div class="container fdb-div-content fdb-div-corner-all">

        <h3 class="text-center fdb-title-search-form">Sửa cấp giấy xác nhận nguyên liệu thủy sản khai thác</h3>


        @Html.AntiForgeryToken()

        <hr class="fdb-hr" />
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
          @Html.Hidden("IsEdit", 1)
            <div class="row">
                <div class="col-md-2 control-label">
                    Số xác nhận <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.SO_XN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SO_XN)
                </div>


                <div class="col-md-2 control-label">
                    Ngày xác nhận <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.NGAY_XN, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NGAY_XN)
                    <span id="lblValidateNgay_XN" style="color: #b94a48; display: none; "></span>

                </div>
            </div>

            <div class="row margin-top-03">
                <div class="col-md-2 control-label">
                    Số đăng ký tàu
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.SO_DK_TAU, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SO_DK_TAU)
                </div>

                <div class="col-md-2 control-label">
                    Tỉnh/TP <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.MA_TINHTP, (SelectList)ViewBag.DTINHTPs, "--Chọn tỉnh/TP--", new { @class = "form-control" })
                </div>
            </div>

            <div class="row margin-top-03">
                <div class="col-md-2 control-label">
                    Thời gian khai thác từ
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.TU_NGAY, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TU_NGAY)
                    <span id="lblValidateTUNGAY" style="color: #b94a48; display: none; "></span>

                </div>

                <div class="col-md-2 control-label">
                    Đến
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DEN_NGAY, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DEN_NGAY)
                    <span id="lblValidateDENNGAY" style="color: #b94a48; display: none; "></span>
                </div>
            </div>

            <div class="row margin-top-03">
                <div class="col-md-2 control-label">
                    Vùng khai thác
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.VUNG_KHAITHAC, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VUNG_KHAITHAC)
                </div>

                <div class="col-md-2 control-label">
                    Cảng đăng ký
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CANG_DANGKY, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CANG_DANGKY)
                </div>
            </div>

            <div class="row margin-top-03">
                <div class="col-md-2 control-label">
                    Ghi chú
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.GHICHU, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GHICHU)
                </div>

                <div class="col-md-2 control-label">

                </div>
                <div class="col-md-4">

                </div>
            </div>

            <br />

            <div class="row margin-top-05">
                <div class="col-md-10 center-table">
                    <label id="lblValidateDETAIL" style="color: #b94a48"></label>
                    <table class="table table-hover table-bordered table-condensed" id="Table1">
                        <tr>

                            <th>
                                Đối tượng
                            </th>
                            <th>
                                Khối lượng khai thác (kg)
                            </th>
                            <th>
                                Khối lượng nguyên liệu (kg)
                            </th>
                            <th>
                                Khối lượng chứng nhận (kg)
                            </th>
                            <th>
                                Khối lượng tồn sau chứng nhận (kg)
                            </th>

                            <th>
                                <label class="BtnPlus" style="cursor:pointer"><img src="@Url.Content("~/fonts/button-add-icon.png")" title="Thêm mới" /></label>

                            </th>
                        </tr>
                        @{

    int i = 1;
    List<FDB.Models.DM_DOITUONG_KT_IUU> lstDM_DOITUONG_KT_IUUSelected = new List<FDB.Models.DM_DOITUONG_KT_IUU>();
   
    string lblID = "";

    if (Model.DSKT_IUU_GIAYXN_NGUYENLIEU_DETAILs.Count > 0)
    {
        
        List<FDB.Models.DM_DOITUONG_KT_IUU> lstDMDoiTuong_KT_IUU = (new FDB.DataAccessLayer.FDBContext()).DM_DOITUONG_KT_IUU.ToList();
        

        foreach (var item in Model.DSKT_IUU_GIAYXN_NGUYENLIEU_DETAILs)
        {


            lblID = "lblDetail_" + i.ToString();

                    <tr>
                       
                      
                        @{
            lstDM_DOITUONG_KT_IUUSelected = lstDMDoiTuong_KT_IUU.ToList();

                        }
                        <td>

                            <select class="form-control" name="ddlID_DM_DOITUONG_KT_IUU_@i.ToString()" id="ddlID_DM_DOITUONG_KT_IUU_@i.ToString()">
                                <option value></option>
                                @for (int j = 0; j < lstDM_DOITUONG_KT_IUUSelected.Count; j++)
                                {
                                    if (lstDM_DOITUONG_KT_IUUSelected[j].ID == item.ID_DM_DOITUONG_KT_IUU)
                                    {
                                        <option value="@lstDM_DOITUONG_KT_IUUSelected[j].ID.ToString()" selected="selected">@lstDM_DOITUONG_KT_IUUSelected[j].Name</option>
                                    }
                                    else
                                    {
                                        <option value="@lstDM_DOITUONG_KT_IUUSelected[j].ID.ToString()">@lstDM_DOITUONG_KT_IUUSelected[j].Name</option>
                                    }

                                }
                            </select>
                        </td>

                        <td><input type="number" value="@item.KL_KHAITHAC" class="form-control" name="txtKL_KHAITHAC_@i.ToString()" /></td>
                        <td><input type="text" value="@item.KL_NGUYENLIEU" class="form-control" name="txtKL_NGUYENLIEU_@i.ToString()" /></td>
                        <td><input type="number" value="@item.KL_DACHUNGNHAN" class="form-control" name="txtKL_DACHUNGNHAN_@i.ToString()" /></td>
                        <td><input type="text" value="@item.KL_TON_SAUCHUNGNHAN" class="form-control" name="txtKL_TON_SAUCHUNGNHAN_@i.ToString()" /></td>
                        <td>
                            <label class="BtnPlus" style="cursor:pointer"><img src="@Url.Content("~/fonts/button-add-icon.png")" title="Thêm mới" /></label>
                            <label class="BtnMinus" id="@lblID" style="cursor:pointer"><img src="@Url.Content("~/fonts/DELETE.GIF")" title="Xóa" /></label>
                        </td>
                    </tr>
                                i++;
        }

        ViewBag.sMaxID = i;
    }
                        }
                        @Html.Raw(@ViewBag.sEditHTML)


                    </table>
                </div>
                <div class="col-md-push-4">

                </div>
            </div>
        </div>
    </div>


    <br />

    <div class="row">
        <div class="col-md-12">

            <button type="submit" class="btn btn-danger btn-sm" id="btnsubmit">
                <span class="glyphicon glyphicon-floppy-disk"></span> Cập nhật
            </button>
            &nbsp;&nbsp;
            @Html.ActionLink("Quay lại", "ListXN", "KT_IUU", null, new { @class = "btn btn-primary btn-sm" })
        </div>

    </div>
}


<input id="txtDM_DOITUONG_KT_IUU" style="display:none" value="@ViewBag.DM_DOITUONG_KT_IUU" />
<label id="lblID" style="display:none">@ViewBag.sMaxID </label>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery-2.1.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery.maskMoney.js"></script>
<script src="~/Scripts/jquery.number.js"></script>
<script src="~/Scripts/jquery.masknumber.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/datepicker.js"></script>


<script type="text/javascript">
    $("#NGAY_XN").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });
    $("#TU_NGAY").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });
    $("#DEN_NGAY").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });

    //$("#NGAY_XN").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
    //$("#TU_NGAY").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
    //$("#DEN_NGAY").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Table1").find('input[type=text]').number(true, 2);
        $("#Table1").find('input[type=number]').maskNumber({ integer: true, decimal: '', thousands: '' });
        var lblID = "lblDetail_1";
        var ID = 1;

        if ($('#lblID').html().trim() != "") {
            ID = parseInt($('#lblID').html().toString());
        }


        var strDM_DOITUONG_KT_IUU = $('#txtDM_DOITUONG_KT_IUU').val();
        var strDDL2 = strDM_DOITUONG_KT_IUU + '</select>';

        function addRow() {

            var html =
                '<tr>' +
                '<td><select class="form-control" name="ddlID_DM_DOITUONG_KT_IUU_' + ID + '" id="ddlID_DM_DOITUONG_KT_IUU_' + ID + '">' + strDDL2 + '</td>' +
                '<td><input type="number" value="" class="form-control" name="txtKL_KHAITHAC_' + ID + '" /></td>' +

                '<td><input type="number" value="" class="form-control" name="txtKL_NGUYENLIEU_' + ID + '" /></td>' +
                '<td><input type="number" value="" class="form-control" name="txtKL_DACHUNGNHAN_' + ID + '" /></td>' +
                '<td><input type="number" value="" class="form-control" name="txtKL_TON_SAUCHUNGNHAN_' + ID + '" /></td>' +
                '<td> <label class="BtnPlus" style="cursor:pointer" ><img src="@Url.Content("~/fonts/button-add-icon.png")" title="Thêm mới" /></label>' +
                ' <label class="BtnMinus" id="lblDetail_' + ID + '" style="cursor:pointer"><img src="@Url.Content("~/fonts/DELETE.GIF")" title="Xóa"  /></label>' +
                '</td>' +
                '</tr>'

            $(html).appendTo($("#Table1"));
            // mask decimal ở đây:
            $("#Table1").find('input[type=text]').number(true, 2);
            $("#Table1").find('input[type=number]').maskNumber({ integer: true, decimal: '', thousands: '' });
            ID++;

        };

        $("#Table1").on("click", ".BtnPlus", addRow);

        $("#Table1").on("click", ".BtnMinus", deleteRow);


        function deleteRow() {
            lblID = $(this).attr('id');
            lblID = "#" + lblID.toString().trim();
            if (confirm("Bạn chắc chắn muốn xóa?")) {
                var par = $(this).parent().parent();
                par.remove();
            }

            return false;

        };

        $('#btnsubmit').click(function () {
            var table1 = $("#Table1");
            var countAll = 0;
            var countVal = 0;
            var vReturn = true;
            $(table1).find('tr')
            .each(function () {
                $(this).find('td input')
                .each(function () {
                    var txt = $(this).val();
                    if (txt == "") {
                        countVal++;
                    }
                    if (countVal == 4) {
                        $(this).parent().parent().find('td input').css("border", "solid 1px #b94a48");
                        $(this).parent().parent().find('td input').eq(0).focus();
                        vReturn = false;
                    }
                    else {
                        $(this).css("border", "solid 1px #cccccc");

                    }
                    countAll++;
                });
                countVal = 0;

            });

            if (countAll == 0) {
                $('#lblValidateDETAIL').html('(*)Bạn phải nhập danh sách chi tiết!');
                vReturn = false;
            }
            else {
                $('#lblValidateDETAIL').html('');

            }

            return vReturn;
        }
       );
    });
</script>