@model FDB.Models.ViewModelSearchNT_NUOC_NGOT
@using PagedList.Mvc; @*Mo*@
@using FDB.Helpers;

<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
@{
    ViewBag.Title = "Nuôi thủy sản nước ngọt";
}


<div class="container fdb-div-content fdb-div-corner-all">
    <h3 class="text-center fdb-title-search-form">Nuôi thủy sản nước ngọt</h3>
    <br />

    <div class="container">
        @*<label id="lblMessage" style="color:blue; font-weight:bold">@TempData["_SUCCESS"]</label>*@
        @using (Html.BeginForm("Index", "NT_NUOC_NGOT", FormMethod.Get))
        {
            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-search-border">Chỉ tiêu tìm kiếm</legend>

                <div class="row">
                    <div class="col-md-2 control-label">
                        Hình thức nuôi
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.HinhThucNuoi, (SelectList)ViewBag.DMMoHinhNuoi, string.Empty, new { @class = "form-control", @id = "hinhthucnuoi" })
                    </div>
                    <div class="col-md-2 control-label">
                        Đối tượng nuôi
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DoiTuongNuoi, (SelectList)ViewBag.DMDoiTuongNuoi, string.Empty, new { @class = "form-control", @id = "doituongnuoi" })
                    </div>


                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label">
                        Tỉnh/Thành phố
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TThanhPho, (SelectList)ViewBag.DMTThanhPho, string.Empty, new { @class = "form-control", @id = "province_dll" })
                    </div>
                    <div class="col-md-2 control-label">
                        Loại báo cáo
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.LoaiBaoCao, new List<SelectListItem>
                    {                   new SelectListItem() {Text = "", Value=""},
                                        new SelectListItem() {Text = "Báo cáo tuần", Value="1"},
                                        new SelectListItem() {Text = "Báo cáo tháng", Value="2"}

                    }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row margin-top-05" id="divbaocaothang">
                    <div class="col-md-2 control-label">
                        Tháng
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Thang, new List<SelectListItem>
                    {                   new SelectListItem() {Text = "", Value=""},
                                        new SelectListItem() {Text = "Tháng 1", Value="1"},
                                        new SelectListItem() {Text = "Tháng 2", Value="2"},
                                        new SelectListItem() {Text = "Tháng 3", Value="3"},
                                        new SelectListItem() {Text = "Tháng 4", Value="4"},
                                        new SelectListItem() {Text = "Tháng 5", Value="5"},
                                        new SelectListItem() {Text = "Tháng 6", Value="6"},
                                        new SelectListItem() {Text = "Tháng 7", Value="7"},
                                        new SelectListItem() {Text = "Tháng 8", Value="8"},
                                        new SelectListItem() {Text = "Tháng 9", Value="9"},
                                        new SelectListItem() {Text = "Tháng 10", Value="10"},
                                        new SelectListItem() {Text = "Tháng 11", Value="11"},
                                        new SelectListItem() {Text = "Tháng 12", Value="12"}
                    }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 control-label">
                        Năm
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Nam, new { @class = "form-control", @type = "text", @min = "1900" })
                    </div>
                </div>
                <div class="row margin-top-05" id="divbaocaotuan">
                    <div class="col-md-2 control-label">
                        Ngày báo cáo
                    </div>
                    <div class="col-md-1 control-label">
                        Từ ngày:
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.TuNgay, "{0:dd/MM/yyyy}", new { @class = "form-control", @style = "width:120px" })

                    </div>
                    <div class="col-md-2 control-label">
                        Đến ngày:
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.DenNgay, "{0:dd/MM/yyyy}", new { @class = "form-control", @style = "width:120px" })

                    </div>
                </div>


                <p class="margin-top-05">
                    <button type="submit" class="btn btn-primary btn-sm" name="SearchButton" value="Tìm kiếm">
                        <span class="glyphicon glyphicon-search"></span> Tìm kiếm
                    </button>

                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Thêm mới", "Create", "NT_NUOC_NGOT", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                </p>
            </fieldset>
        }

        <fieldset class="fdb-scheduler-border">
            <legend class="fdb-scheduler-search-border">Kết quả tìm kiếm</legend>

            <label id="lblMessageTotal" style="color:blue;  font-weight:bold">Tổng số bản ghi: @ViewBag.TotalRow</label>
          
            <table class="table table-hover table-bordered table-condensed">
                
                    <tr>
                        <th>
                            Tỉnh/Thành phố
                        </th>
                        <th>
                            Loại báo cáo
                        </th>
                        <th style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 1 ? "display: none" : "")">
                            Tháng
                        </th>
                        <th style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 1 ? "display: none" : "")">
                            Năm
                        </th>
                        <th style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 2 ? "display: none" : "")">
                            Báo cáo từ ngày
                        </th>
                        <th style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 2 ? "display: none" : "")">
                            Báo cáo đến ngày
                        </th>
                        <th>
                            Người nhập
                        </th>
                        <th>
                            Ngày nhập
                        </th>
                        <th></th>
                    </tr>
               
                @{
                    if (Model.SearchResults != null)
                    {
                        foreach (var item in Model.SearchResults)
                        {
                            var _display = Model.LoaiBaoCao != null && Model.LoaiBaoCao == 1 ? "display: none" : "display: block";
                            <tr>
                                <td>
                                    
                                    @Html.DisplayFor(modelItem => item.DMTinhTP.TEN_TINHTP)
                                </td>
                                <td>
                                    @(item.LOAI_BAO_CAO == 1 ? "Báo cáo tuần" : "Báo cáo tháng")
                                </td>
                                <td style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 1 ? "display: none" : "")">
                                    @Html.DisplayFor(modelItem => item.THANG)
                                </td>
                                <td style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 1 ? "display: none" : "")">
                                    @Html.DisplayFor(modelItem => item.NAM)
                                </td>
                                <td style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 2 ? "display: none" : "")">
                                    @Html.DisplayFor(modelItem => item.NGAY_BAO_CAO_TU)
                                </td>
                                <td style="@(Model .LoaiBaoCao != null && Model.LoaiBaoCao == 2 ? "display: none" : "")">
                                    @Html.DisplayFor(modelItem => item.NGAY_BAO_CAO_DEN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGUOI_NHAP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGAY_NHAP)
                                </td>
                                <td class="text-center" style="position:relative">
                                    @Html.EncodedActionLink("", "<img src=\"/fonts/grid-edit-icon.png\" title=\"Sửa\" />", "Edit", "NT_NUOC_NGOT", new { questionId = item.ID }, new { @style = "margin-right: 10px;" })

                                    @using (Html.BeginForm("Delete", "NT_NUOC_NGOT", new { id = item.ID }, FormMethod.Post, new { @style = "margin: 0px -5px;padding: 0px 0px;width: 5px;/* float:right; *//* height:16px; */position: absolute;top: 2px;right: 20px;" }))
                                    {
                                        <input type="image" src="@Url.Content("~/fonts/grid-delete-icon1.gif")" title="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa không?');" />

                                    }


                                </td>
                            </tr>
                        }
                    }


                }

            </table>



            <br />
            <br />
            @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new { page, Model.Thang, Model.Nam, Model.DoiTuongNuoi, Model.HinhThucNuoi, Model.TThanhPho, Model.TuNgay, Model.DenNgay, Model.LoaiBaoCao }))

        </fieldset>
    </div>
</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script>
<script src="~/Scripts/datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/jquery.maskMoney.js"></script>
<script src="~/Scripts/jquery.number.js"></script>
<script src="~/Scripts/jquery.masknumber.js"></script>
<script type="text/javascript">

    $("#TuNgay").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });
    $("#TuNgay").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

    $("#DenNgay").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });
    $("#DenNgay").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

    $('#Nam').maskNumber({ integer: true, decimal: '', thousands: '' });

    $(function () {
        $(document).tooltip();
    });

</script>

<script type="text/javascript">

    $(document).ready(function () {

        // load district by province when change in dropdownlist
        $("#hinhthucnuoi").change(function () {
            $.ajax({
                url: 'getNhomDoiTuongByHinhThuc',
                type: 'post',
                data: {
                    ma_HinhThuc: $('#hinhthucnuoi').val()
                }
            }).done(function (response) {
                // update district by province
                var a = '<option value></option>' + response;   // defaut value
                $("#doituongnuoi").html(a);


            });
        });

        $("#LoaiBaoCao").change(function () {
            $("#Thang").val('');
            $("#Nam").val('');
            $("#TuNgay").val('');
            $("#DenNgay").val('');
            var _val = $(this).val();
            if (_val == null || _val == "") {
                $("#divbaocaotuan").attr("style", "display:block");
                $("#divbaocaothang").attr("style", "display:block");
               
            }
            else {
                if (_val == "1") {
                    $("#divbaocaotuan").attr("style", "display:block");
                    $("#divbaocaothang").attr("style", "display:none");

                }
                else {
                    $("#divbaocaotuan").attr("style", "display:none");
                    $("#divbaocaothang").attr("style", "display:block");
                }
            }
        });

    });


</script>
