@model FDB.Models.ViewModelSearchKT_BAC
@using PagedList.Mvc;
@using FDB.Helpers;

@{
    ViewBag.Title = "Cường lực khai thác (BAC)";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/datepicker.js"></script>

<div class="container fdb-div-content fdb-div-corner-all">

    <h3 class="text-center fdb-title-search-form">Điều tra BAC</h3>


    @using (Html.BeginForm("Index", "KT_BAC", FormMethod.Get))
    {

        <br />
        <fieldset class="fdb-scheduler-border">
            <legend class="fdb-scheduler-search-border">Chỉ tiêu tìm kiếm</legend>
            <div class="row">
                <div class="col-md-2 control-label">
                    Nghề khai thác
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.DM_NhomNgheID, (SelectList)ViewBag.DM_NHOMNGHEs, string.Empty, new { @class = "form-control" })
                </div>
                <div class="col-md-2 control-label">
                    Nhóm công suất
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.DNHOM_TAUID, (SelectList)ViewBag.NHOM_TAUs, string.Empty, new { @class = "form-control" })
                </div>
            </div>

            <div class="row margin-top-05">

                <div class="col-md-2 control-label">
                    Năm
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.NAM, new List<SelectListItem>
                    {
                                        new SelectListItem() {Text = "2010", Value="2010"},
                                        new SelectListItem() {Text = "2011", Value="2011"},
                                        new SelectListItem() {Text = "2012", Value="2012"},
                                        new SelectListItem() {Text = "2013", Value="2013"},
                                        new SelectListItem() {Text = "2014", Value="2014"},
                                        new SelectListItem() {Text = "2015", Value="2015"},
                                        new SelectListItem() {Text = "2016", Value="2016"},
                                        new SelectListItem() {Text = "2017", Value="2017"},
                                        new SelectListItem() {Text = "2018", Value="2018"},
                                        new SelectListItem() {Text = "2019", Value="2019"},
                                        new SelectListItem() {Text = "2020", Value="2020"},
                                        new SelectListItem() {Text = "2021", Value="2021"},
                                        new SelectListItem() {Text = "2022", Value="2022"},
                                        new SelectListItem() {Text = "2023", Value="2023"},
                                        new SelectListItem() {Text = "2024", Value="2024"},
                                        new SelectListItem() {Text = "2025", Value="2025"},
                                        new SelectListItem() {Text = "2026", Value="2026"},
                                        new SelectListItem() {Text = "2027", Value="2027"},
                                        new SelectListItem() {Text = "2028", Value="2028"},
                                        new SelectListItem() {Text = "2029", Value="2029"},
                                        new SelectListItem() {Text = "2030", Value="2030"}
                    }, new { @class = "form-control" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 control-label">
                    Tháng
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.THANG, new List<SelectListItem>
                    {
                                        new SelectListItem() {Text = "Tháng 1", Value="1"},
                                        new SelectListItem() {Text = "Tháng 2", Value="2"},
                                        new SelectListItem() {Text = "Tháng 3", Value="3"},
                                        new SelectListItem() {Text = "Tháng 4", Value="4"},
                                        new SelectListItem() {Text = "Tháng 5", Value="5"},
                                        new SelectListItem() {Text = "Tháng 6", Value="6"},
                                        new SelectListItem() {Text = "Tháng 7", Value="7"},
                                        new SelectListItem() {Text = "Tháng 8", Value="8"},
                                        new SelectListItem() {Text = "Tháng 9", Value="9"},
                                        new SelectListItem() {Text = "Tháng 10", Value="10"},
                                        new SelectListItem() {Text = "Tháng 11", Value="11"},
                                        new SelectListItem() {Text = "Tháng 12", Value="12"}
                    }, new { @class = "form-control" })
                </div>
            </div>

            <div class="row margin-top-05">
                <div class="col-md-2 control-label">
                    Tỉnh/TP
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.MA_TINHTP, (SelectList)ViewBag.TINH_THANHPHOs, string.Empty, new { @class = "form-control" })
                </div>
            </div>


            <p class="margin-top-05">
                <button type="submit" class="btn btn-primary btn-sm" name="SearchButton" value="Tìm kiếm">
                    <span class="glyphicon glyphicon-search"></span> Tìm kiếm
                </button>

                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Thêm mới", "Create", "KT_BAC", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                @Html.NoEncodeActionLink("<i class='fa fa-file-excel-o'></i> Import Excel", "Import Excel", "ImportExcel", "KT_BAC", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
            </p>

        </fieldset>
    }

    <fieldset class="fdb-scheduler-border">
        <legend class="fdb-scheduler-search-border">Kết quả tìm kiếm</legend>
        <label id="lblMessageTotal" style="color:blue; font-weight:bold">Tổng số bản ghi: @ViewBag.TotalRow</label>
        <table class="table table-hover table-bordered table-condensed">
            <tr>
                <th>
                    Ngày điều tra
                </th>
                <th>
                    Nghề khai thác
                </th>
                <th>
                    Nhóm công suất
                </th>
                <th>
                    Số tàu chọn mẫu
                </th>
                <th>
                    Số tàu chọn mẫu đi biển
                </th>
                <th>
                    Tháng
                </th>
                <th>
                    Năm
                </th>
                <th></th>
            </tr>
            @{
                if (Model.SearchResults != null)
                {
                    foreach (var item in Model.SearchResults)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.NGAY_DIEU_TRA)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.DM_NHOMNGHE.TenNhomNghe)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.DNHOM_TAU.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.SO_TAU_CHON_MAU)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.SO_TAU_CHON_MAU_DI_BIEN)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.THANG)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.NAM)
                            </td>
                            <td>
                                <div class="pull-right">

                                    <a href="@Url.Action("Edit", "KT_BAC", new { id = item.ID })">
                                        <img src="@Url.Content("~/fonts/grid-edit-icon.png")" title="Sửa" />
                                    </a>

                                    <a href="@Url.Action("Delete", "KT_BAC", new { id = item.ID })" delete-modal="">
                                        <img src="@Url.Content("~/fonts/grid-delete-icon1.gif")" title="Xóa" />
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }

                }
            }

        </table>


    </fieldset>


    <div class="pagination-sm">
        @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new
   {
       page,
       Model.DM_NhomNgheID,
       Model.DNHOM_TAUID,
       Model.NAM,
       Model.THANG
   }))
    </div>

</div>


<!-- delete modal placeholder-->
<div id='deleteModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='deleteModalContent'></div>
        </div>
    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/modalform")
}