@model FDB.Models.ViewModelSearchNT_TT_THITRUONG
@using PagedList.Mvc;
@using FDB.Helpers;

<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
@{
    ViewBag.Title = "Tra cứu thông tin thị trường";
}






<div class="container fdb-div-content fdb-div-corner-all">
    <h3 class="text-center fdb-title-search-form">Tra cứu giá thủy sản trong nước</h3>
    <br />
    <div class="container">
        @using (Html.BeginForm("Search", "NT_TT_THITRUONG", FormMethod.Get))
        {

            <div class="row">
                <div class="col-md-2 control-label">
                    Đối tượng
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.DM_DOITUONG_GIA_THITRUONGID, (SelectList)ViewBag.DM_DOITUONG_NUOIs, "--Chọn đối tượng nuôi--", new { @class = "form-control" })
                </div>

                <div class="col-md-2 control-label">
                    Tỉnh/Thành phố
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.MA_TINHTP, (SelectList)ViewBag.DTINHTPs, "--Chọn tỉnh/TP--", new { @class = "form-control" })
                </div>
            </div>


              <div class="row margin-top-05">
                <div class="col-md-2 control-label">
                    Ngày thu thập từ
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TU_NGAY)
                    @Html.ValidationMessageFor(model => model.TU_NGAY)
                </div>

                <div class="col-md-2 control-label">
                    Đến ngày
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DEN_NGAY)
                    @Html.ValidationMessageFor(model => model.DEN_NGAY)
                </div>
            </div>


            <p class="margin-top-05">

                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-search"></span> Thống kê
                </button>

                @*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Thêm mới", "Create", "NT_TT_THITRUONG", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })*@

                @*@Html.NoEncodeActionLink("<i class='fa fa-file-excel-o'></i> Xuất Excel", "Xuất Excel", "ExportExcel", "NT_TT_THITRUONG", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })*@

                <button type="submit" class="btn btn-primary btn-sm" name="SearchButton" value="Xuất Excel">
                    <i class='fa fa-file-excel-o'></i>
                    Xuất Excel
                </button>
            </p>
        }

        <fieldset class="fdb-scheduler-border">
            
            <legend class="fdb-scheduler-search-border">Kết quả tìm kiếm</legend>
            <label id="lblMessageTotal" style="color:blue; font-weight:bold">Tổng số bản ghi: @ViewBag.TotalRow</label>

            <table class="table table-hover table-bordered table-condensed">
                <tr>

                    <th>
                        Đối tượng
                    </th>
                    <th>
                        Giá thành (VNĐ/kg)
                    </th>
                    <th>
                        Giá giống (đồng/con)
                    </th>
                    <th>
                        Giá thức ăn (VNĐ/kg)
                    </th>
                    <th>
                        Giá bán (VNĐ/kg)
                    </th>

                    <th>Kích cỡ</th>
                    <th>Nơi thu thập</th>
                    <th>Tỉnh/TP</th>
                </tr>
                @{
                    if (Model.SearchResults != null)
                    {
                        foreach (var item in Model.SearchResults)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DM_DOITUONG_GIA_THITRUONG.Name)
                                </td>

                                <td>
                                    @if (item.GIA_THANH_TU.HasValue || item.GIA_THANH_DEN.HasValue)
                                    {

                                        @(String.Format("Từ {0} đến {1}", item.GIA_THANH_TU == null ? string.Empty : item.GIA_THANH_TU.Value.ToString("#,###"), @item.GIA_THANH_DEN == null ? string.Empty : item.GIA_THANH_DEN.Value.ToString("#,###,###")))
                                    }



                                </td>
                                <td>
                                    @if (item.GIA_GIONG_TU.HasValue || item.GIA_GIONG_DEN.HasValue)
                                    {
                                        @(String.Format("Từ {0} đến {1}", item.GIA_GIONG_TU == null ? string.Empty : item.GIA_GIONG_TU.Value.ToString("#,###"), @item.GIA_GIONG_DEN == null ? string.Empty : item.GIA_GIONG_DEN.Value.ToString("#,###")))
                                    }
                                </td>
                                <td>
                                    @if (item.GIA_THUCAN_TU.HasValue || item.GIA_THUCAN_DEN.HasValue)
                                    {
                                        @(String.Format("Từ {0} đến {1}", item.GIA_THUCAN_TU == null ? string.Empty : item.GIA_THUCAN_TU.Value.ToString("#,###"), @item.GIA_THUCAN_DEN == null ? string.Empty : item.GIA_THUCAN_DEN.Value.ToString("#,###")))
                                    }
                                </td>
                                <td>
                                    @if (item.GIA_BAN_TU.HasValue || item.GIA_BAN_DEN.HasValue)
                                    {
                                        @(String.Format("Từ {0} đến {1}", item.GIA_BAN_TU == null ? string.Empty : item.GIA_BAN_TU.Value.ToString("#,###"), @item.GIA_BAN_DEN == null ? string.Empty : item.GIA_BAN_DEN.Value.ToString("#,###")))
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KICHCO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOITHUTHAP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DTINHTP.TEN_TINHTP)
                                </td>

                              
                            </tr>
                        }
                    }
                }

            </table>

        </fieldset>

        <br />


        <br />


        @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new { page, Model.DM_DOITUONG_GIA_THITRUONGID }))
    </div>

</div>

<script type="text/javascript">

    $("#GIA_THANH_DEN").number(true, 0, '', ',');
    $("#GIA_THANH_DEN").number(true, 0, '', ',');
    $("#GIA_GIONG_TU").number(true, 0, '', ',');
    $("#GIA_GIONG_DEN").number(true, 0, '', ',');

    $("#GIA_THUCAN_TU").number(true, 0, '', ',');
    $("#GIA_THUCAN_DEN").number(true, 0, '', ',');
    $("#GIA_BAN_TU").number(true, 0, '', ',');
    $("#GIA_BAN_DEN").number(true, 0, '', ',');
</script>