@model FDB.Models.KT_DANGKIEM
@{
    ViewBag.Title = "Đăng kiểm tàu cá";
}

@using (Html.BeginForm("Create", "KT_DANGKIEM", FormMethod.Post, new { @id = "formCreate" }))
{
    <div class="container fdb-div-content fdb-div-corner-all">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            @Html.Hidden("IsEdit", 0)
            @Html.Hidden("HinhThucKiemTra")

            <div class="fdb-title-form-24 text-center col-md-12">
                Đăng kiểm tàu thuyền
            </div>

            @*<div class="fdb-title-form">
                    Thông tin đăng kiểm
                </div>*@
            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-border">Thông tin đăng kiểm</legend>

                <div class="row">
                    <div class="col-md-2 control-label text-left">
                        Hình thức kiểm tra <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-5 rdseleted">
                        @Html.RadioButtonFor(model => model.DLOAI_KIEM_TRA_KTID, 1) Lần đầu &nbsp;
                        @Html.RadioButtonFor(model => model.DLOAI_KIEM_TRA_KTID, 2) Hàng năm &nbsp;
                        @Html.RadioButtonFor(model => model.DLOAI_KIEM_TRA_KTID, 3) Trung gian &nbsp;
                        @Html.RadioButtonFor(model => model.DLOAI_KIEM_TRA_KTID, 4) Định kỳ &nbsp;
                        @Html.RadioButtonFor(model => model.DLOAI_KIEM_TRA_KTID, 5) Bất thường



                        <div class="help-tip">
                            <p>
                                Bạn phải chọn hình thức kiểm tra trước khi thực hiện các thao tác nhập liệu khác!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">@Html.ValidationMessageFor(model => model.DLOAI_KIEM_TRA_KTID)</div>
                </div>

                <div class="row">
                    <div class="col-md-2 control-label text-left text-left">
                        Tỉnh/TP <label style="color:red;">(*)</label>

                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.MA_TINHTP, (SelectList)ViewBag.TINH_THANHPHOs, string.Empty, new { @class = "form-control", @id = "province_dll" })
                        @Html.ValidationMessageFor(model => model.MA_TINHTP)
                    </div>

                    @*<div class="col-md-2 control-label text-left">
                            Hình thức kiểm tra <label style="color:red;">(*)</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.DLOAI_KIEM_TRA_KTID, (SelectList)ViewBag.LOAI_KIEM_TRA_KY_THUATs, string.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DLOAI_KIEM_TRA_KTID)
                        </div>*@
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Số sổ đăng kiểm <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SO_SO_DANG_KIEM, new { @class = "form-control fdb-text-background-color" })
                        @Html.ValidationMessageFor(model => model.SO_SO_DANG_KIEM)
                        <div class="help-tip">
                            <p>
                                - Nếu hình thức kiểm tra là lần đầu thì số sổ đăng kiểm không được trùng với các số đã có trong hệ thống<br />
                                - Với các hình thức kiểm tra khác khi nhập số sổ đăng kiểm đã được cấp (nhấn Enter) thì hệ thống sẽ tự động điền các thông tin của sổ vào
                            </p>
                        </div>
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Ngày cấp sổ đăng kiểm <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NGAY_CAP_SO_DANG_KIEM)
                        @Html.ValidationMessageFor(model => model.NGAY_CAP_SO_DANG_KIEM)
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Cơ quan đăng kiểm
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CO_QUAN_DANG_KIEM, new { @class = "form-control" })
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Đăng kiểm viên
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DANG_KIEM_VIEN, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Số biên bản KTKT
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SO_BB_KIEM_TRA_KT, new { @class = "form-control" })
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Ngày biên bản KTKT <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NGAY_KIEM_TRA)
                        @Html.ValidationMessageFor(model => model.NGAY_KIEM_TRA)
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Số chứng nhận ATKT tàu cá
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SO_AN_CHI_ATKT, new { @class = "form-control" })
                    </div>

                    <div class="col-md-2 control-label text-left">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Ngày chứng nhận (ATKT)
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NGAY_CAP_ATKT_TCA)
                        @Html.ValidationMessageFor(model => model.NGAY_CAP_ATKT_TCA)
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-2 control-label text-left">
                        Ngày hết hạn (ATKT)
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NGAY_HH_ATKT_TCA)
                        @Html.ValidationMessageFor(model => model.NGAY_HH_ATKT_TCA)
                    </div>
                </div>

                <br />
            </fieldset>


            @*<div class="fdb-title-form margin-top-05">
                    Thông tin chung tàu
                </div>*@

            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-border">Thông tin tàu</legend>
                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Số đăng ký
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SO_DK, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SO_DK)
                        <div class="help-tip">
                            <p>Nếu nhập số đăng ký tàu có trong hệ thống (nhấn Enter) thì các thông tin tàu sẽ được tự động điền (nếu có)</p>
                        </div>
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Nơi đăng ký
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.NOI_DANG_KY, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Tên tàu
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.TEN_TAU, new { @class = "form-control" })
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Chủ phương tiện
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CHU_PHUONG_TIEN, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Công dụng tàu
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DCONG_DUNG_TAUID, (SelectList)ViewBag.CONG_DUNG_TAU_CAs, string.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DCONG_DUNG_TAUID)
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Số thuyền viên
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SO_THUYEN_VIEN, new { @class = "form-control", @type = "number" })
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Năm đóng
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.KT_NAM_DONG, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-2 control-label text-left">
                        Nơi đóng
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.KT_NOI_DONG, new { @class = "form-control" })
                    </div>
                </div>

                <br />
            </fieldset>



            @*<div class="fdb-title-form margin-top-05">
                    Thông tin kỹ thuật tàu
                </div>*@


            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-border">Thông tin kỹ thuật tàu</legend>
                <div class="row">
                    <div class="col-md-2 control-label text-left">
                        Lmax (m)
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(model => model.KT_CHIEU_DAI, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KT_CHIEU_DAI)
                    </div>

                    <div class="col-md-1 control-label text-left">
                        Bmax (m)
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(model => model.KT_CHIEU_RONG, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KT_CHIEU_RONG)
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-2 control-label text-left">
                        D (m)
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(model => model.KT_CHIEU_CAO, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KT_CHIEU_CAO)
                    </div>

                    <div class="col-md-1 control-label text-left">
                        d (m)
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(model => model.KT_MON_NUOC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KT_MON_NUOC)
                    </div>

                    <div class="col-md-1">
                        <div class="help-tip">
                            <p>d (m): Mớn nước</p>
                        </div>
                    </div>

                </div>

                @*<div class="row margin-top-05">
                        <div class="col-md-2 control-label text-left">
                            D (m)
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(model => model.KT_CHIEU_CAO, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KT_CHIEU_CAO)

                        </div>

                        <div class="col-md-1 control-label text-left">
                            d (m)
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(model => model.KT_MON_NUOC, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KT_MON_NUOC)

                        </div>
                    </div>*@

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Mạn khô f (m)
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.KT_MAN_KHO, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KT_MAN_KHO)
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Ltk (m)
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(model => model.KT_CHIEU_DAI_TK, new { @class = "form-control" })
                        
                    </div>
                    <div class="col-md-1">
                        <div class="help-tip">
                            <p>Ltk (m): Chiều dài thiết kế</p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>


                <div class="row  margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Tốc độ tàu (hl/h)
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.KT_TOC_DO_TAU, new { @class = "form-control", @type = "number" })
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Vật liệu vỏ
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DVAT_LIEU_VOID, (SelectList)ViewBag.VAT_LIEU_VOs, string.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DVAT_LIEU_VOID)
                    </div>
                </div>

                <div class="row  margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Số máy tàu <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.KT_SO_MAY_TAU, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(model => model.KT_SO_MAY_TAU)
                        <div class="help-tip">
                            <p>Số lượng máy chính của tàu (chi tiết máy tàu nhập ở danh sách máy tàu bên dưới, tối đa 5 máy tàu)</p>
                        </div>
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Tổng công suất (CV) <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.KT_TONG_CONG_SUAT, new { @class = "form-control totalPower", @type = "number", @readonly = true })
                        @Html.ValidationMessageFor(model => model.KT_TONG_CONG_SUAT)
                        <div class="help-tip">
                            <p>Tự động tính từ công suất của các máy ở danh sách máy tàu (bên dưới)</p>
                        </div>
                    </div>
                </div>

                <div class="row  margin-top-05">
                    <div class="col-md-2 control-label text-left">                        
                    </div>
                    <div class="col-md-4">                        
                    </div>

                    <div class="col-md-2 control-label text-left">
                        Nhóm tàu <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DNHOM_TAUID, (SelectList)ViewBag.NHOM_TAUs, string.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DNHOM_TAUID)
                    </div>
                </div>

                <br />
            </fieldset>


            @*<div class="fdb-title-form margin-top-05">
                    Thông tin máy tàu
                </div>*@

            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-border">Thông tin máy tàu</legend>
                <div class="row margin-top-05">
                    <div class="col-md-9 col-md-offset-2">
                        <table class="table table-hover table-bordered table-condensed table-responsive">
                            <tr>
                                <th>STT</th>
                                <th>
                                    Ký hiệu máy
                                </th>
                                <th>
                                    Số máy
                                </th>
                                <th>
                                    Nơi sản xuất
                                </th>
                                <th>
                                    Năm chế tạo
                                </th>
                                <th>
                                    Hãng máy
                                </th>
                                <th>
                                    Vòng quay định mức(V/p)
                                </th>
                                <th>
                                    Công suất
                                </th>
                            </tr>

                            <tr id="machine1">
                                <td>
                                    1
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_KY_HIEU_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_SO_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_NOI_SX, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_NAM_CHE_TAO, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M1_NAM_CHE_TAO)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_HANG_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_VONG_QUAY, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M1_VONG_QUAY)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M1_CONG_SUAT, new { @class = "form-control power", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M1_CONG_SUAT)
                                </td>
                            </tr>

                            <tr id="machine2">
                                <td>
                                    2
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_KY_HIEU_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_SO_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_NOI_SX, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_NAM_CHE_TAO, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M2_NAM_CHE_TAO)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_HANG_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_VONG_QUAY, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M2_VONG_QUAY)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M2_CONG_SUAT, new { @class = "form-control power", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M2_CONG_SUAT)
                                </td>
                            </tr>

                            <tr id="machine3">
                                <td>
                                    3
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_KY_HIEU_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_SO_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_NOI_SX, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_NAM_CHE_TAO, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M3_NAM_CHE_TAO)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_HANG_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_VONG_QUAY, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M3_VONG_QUAY)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M3_CONG_SUAT, new { @class = "form-control power", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M3_CONG_SUAT)
                                </td>
                            </tr>

                            <tr id="machine4">
                                <td>
                                    4
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_KY_HIEU_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_SO_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_NOI_SX, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_NAM_CHE_TAO, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M4_NAM_CHE_TAO)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_HANG_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_VONG_QUAY, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M4_VONG_QUAY)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M4_CONG_SUAT, new { @class = "form-control power", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M4_CONG_SUAT)
                                </td>
                            </tr>

                            <tr id="machine5">
                                <td>
                                    5
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_KY_HIEU_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_SO_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_NOI_SX, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_NAM_CHE_TAO, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M5_NAM_CHE_TAO)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_HANG_MAY, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_VONG_QUAY, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M5_VONG_QUAY)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.M5_CONG_SUAT, new { @class = "form-control power", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.M5_CONG_SUAT)
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>


                <br />
            </fieldset>



            @*<div class="fdb-title-form margin-top-05">
                    Kết quả kiểm tra
                </div>*@

            <fieldset class="fdb-scheduler-border">
                <legend class="fdb-scheduler-border">Kết quả kiểm tra</legend>
                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Kết luận chung <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DTINH_TRANG_DANG_KIEMID, (SelectList)ViewBag.TINH_TRANG_DANG_KIEMs, string.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DTINH_TRANG_DANG_KIEMID)
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Cấp tàu <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.DCAP_TAU_DANG_KIEMID, (SelectList)ViewBag.CAP_TAU_DANG_KIEMs, string.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DCAP_TAU_DANG_KIEMID)
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Ngày hết hạn đăng kiểm <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.HAN_DANG_KIEM)
                        @Html.ValidationMessageFor(model => model.HAN_DANG_KIEM)
                    </div>
                </div>

                <div class="row margin-top-05">
                    <div class="col-md-2 control-label text-left">
                        Ghi chú
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.GHI_CHU, new { @class = "form-control" })
                    </div>
                </div>


                <br />
            </fieldset>

        </div>


    </div>

    <br />

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span> Cập nhật
            </button>
            &nbsp;
            @Html.ActionLink("Quay lại", "Index", "KT_DANGKIEM", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/jquery.maskMoney.js"></script>
<script src="~/Scripts/jquery.number.js"></script>

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/CustomValidation.js"></script>


<script type="text/javascript">

    function calculateTotal(src) {
        var sum = 0,
            tbl = $(src).closest('table');

        tbl.find('input.form-control.power').each(function (index, elem) {
            var val = parseFloat($(elem).val());
            if (!isNaN(val)) {
                sum += val;
            }
        });

        //tbl.find('input.form-control.totalPower').html(sum.toFixed(2));
        //document.getElementById("KT_TONG_CONG_SUAT").value = sum;
        $('input.form-control.totalPower').val(sum);

        if (sum < 20) {
            $("#DNHOM_TAUID").val(1);
        } else if (sum >= 20 && sum < 50) {
            $("#DNHOM_TAUID").val(2);
        } else if (sum >= 50 && sum < 90) {
            $("#DNHOM_TAUID").val(3);
        } else if (sum >= 90 && sum < 250) {
            $("#DNHOM_TAUID").val(4);
        } else if (sum >= 250 && sum < 400) {
            $("#DNHOM_TAUID").val(5);
        } else if (sum >= 400) {
            $("#DNHOM_TAUID").val(6);
        }
    }

    $(document).ready(function () {        
        // calculate total power
        $('input.form-control.power').keyup(function () {
            calculateTotal(this);
        });


        // mask edit cho truong ngay thang (su dung jquery.maskedinput)
        $("#NGAY_KIEM_TRA").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $("#NGAY_CAP_SO_DANG_KIEM").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $("#NGAY_CAP_ATKT_TCA").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $("#NGAY_HH_ATKT_TCA").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });
        $("#HAN_DANG_KIEM").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

        // cho phep nhap so thap phan (su dung jquery.number)
        $("#KT_CHIEU_DAI").number(true, 2, '.', '');
        $("#KT_CHIEU_RONG").number(true, 2, '.', '');
        $("#KT_CHIEU_CAO").number(true, 2, '.', '');
        $("#KT_MAN_KHO").number(true, 2, '.', '');
        $("#KT_MON_NUOC").number(true, 2, '.', '');





        $("#machine1").hide();
        $("#machine2").hide();
        $("#machine3").hide();
        $("#machine4").hide();
        $("#machine5").hide();
        // Hien thi so may tau
        $('#KT_SO_MAY_TAU').keypress(function (e) {
            if (e.which == '13') {
                e.preventDefault();

                var numberMachine = $(this).val();

                load_may_tau(numberMachine);
            }
        });

        $('#KT_SO_MAY_TAU').focusout(function () {
            var numberMachine = $(this).val();

            load_may_tau(numberMachine);
        });






        // gan hinh thuc kiem tra cho hidden field
        $('.rdseleted input').on('change', function () {
            var loai = $('input[name="DLOAI_KIEM_TRA_KTID"]:checked', '.rdseleted').val();

            $("#HinhThucKiemTra").val(loai);

            $("#SO_SO_DANG_KIEM").removeData("previousValue"); //clear cache
            $("form").validate().element('#SO_SO_DANG_KIEM'); //retrigger remote call

        });



        // Load du lieu cua so dang kiem da co
        // khi nhap so so dang kiem + Enter
        $('#SO_SO_DANG_KIEM').keypress(function (e) {
            if (e.which == '13') {
                e.preventDefault();
                load_by_so_dang_kiem();
                
            }
        });



        // Load du lieu cua dang ky
        // khi nhap so so dang ky + Enter
        $('#SO_DK').keypress(function (e) {
            if (e.which == '13') {
                e.preventDefault();
                
                load_by_so_dang_ky();
            }
        });
    });


    function load_may_tau(numberMachine) {
        switch (numberMachine) {
            case "1":
                $("#machine1").show();
                $("#machine2").hide();
                $("#machine3").hide();
                $("#machine4").hide();
                $("#machine5").hide();
                break;
            case "2":
                $("#machine1").show();
                $("#machine2").show();
                $("#machine3").hide();
                $("#machine4").hide();
                $("#machine5").hide();
                break;
            case "3":
                $("#machine1").show();
                $("#machine2").show();
                $("#machine3").show();
                $("#machine4").hide();
                $("#machine5").hide();
                break;
            case "4":
                $("#machine1").show();
                $("#machine2").show();
                $("#machine3").show();
                $("#machine4").show();
                $("#machine5").hide();
                break;
            case "5":
                $("#machine1").show();
                $("#machine2").show();
                $("#machine3").show();
                $("#machine4").show();
                $("#machine5").show();
                break;
            default:
                $("#machine1").hide();
                $("#machine2").hide();
                $("#machine3").hide();
                $("#machine4").hide();
                $("#machine5").hide();
        }
    }

    function load_by_so_dang_ky() {
        $.ajax({
            type: 'GET',
            dataType: 'Json',
            url: '@Url.Action("Load_Tau_By_SoDK", "KT_DANGKIEM")',
            data: {
                so_Dang_Ky: $('#SO_DK').val()
            },
            success: function (data) {                
                // ten tau
                $('#TEN_TAU').val(data.TEN_TAU);
                // chu phuong tien
                $('#CHU_PHUONG_TIEN').val(data.CHU_PHUONG_TIEN);
                // cong dung tau
                $('#DCONG_DUNG_TAUID').val(data.DCONG_DUNG_TAUID);
                // so thuyen vien
                $('#SO_THUYEN_VIEN').val(data.SO_THUYEN_VIEN);
                // nam dong
                $('#KT_NAM_DONG').val(data.KT_NAM_DONG);
                // noi dong
                $('#KT_NOI_DONG').val(data.KT_NOI_DONG);
            },
            error: function (xhr, ajaxOption, thorwnError) {
                console.log(thorwnError);
            }
        });
    }

    function load_by_so_dang_kiem() {
        $.ajax({
            type: 'GET',
            dataType: 'Json',
            url: '@Url.Action("Load_Data_By_ID", "KT_DANGKIEM")',
            data: {
                so_Dang_Kiem: $('#SO_SO_DANG_KIEM').val()
            },
            success: function (data) {
                // ngay cap so
                $('#NGAY_CAP_SO_DANG_KIEM').val(ToJavaScriptDate(data.NGAY_CAP_SO_DANG_KIEM));
                // co quan dang kiem
                $('#CO_QUAN_DANG_KIEM').val(data.CO_QUAN_DANG_KIEM);
                // dang kiem vien
                $('#DANG_KIEM_VIEN').val(data.DANG_KIEM_VIEN);
                // so bien ban KTTK
                $('#SO_BB_KIEM_TRA_KT').val(data.SO_BB_KIEM_TRA_KT);
                // ngay bien ban KTKT
                $('#NGAY_KIEM_TRA').val(ToJavaScriptDate(data.NGAY_KIEM_TRA));
                // so chung nhan ATKT
                $('#SO_AN_CHI_ATKT').val(data.SO_AN_CHI_ATKT);
                // ngay chung nhan ATKT
                $('#NGAY_CAP_ATKT_TCA').val(ToJavaScriptDate(data.NGAY_CAP_ATKT_TCA));
                // ngay het han chung nhan ATKT
                $('#NGAY_HH_ATKT_TCA').val(ToJavaScriptDate(data.NGAY_HH_ATKT_TCA));


                // so dang ky
                $('#SO_DK').val(data.SO_DK);
                // noi dang ky
                $('#NOI_DANG_KY').val(data.NOI_DANG_KY);
                // ten tau
                $('#TEN_TAU').val(data.TEN_TAU);
                // chu phuong tien
                $('#CHU_PHUONG_TIEN').val(data.CHU_PHUONG_TIEN);
                // cong dung tau
                $('#DCONG_DUNG_TAUID').val(data.DCONG_DUNG_TAUID);
                // so thuyen vien
                $('#SO_THUYEN_VIEN').val(data.SO_THUYEN_VIEN);
                // nam dong
                $('#KT_NAM_DONG').val(data.KT_NAM_DONG);
                // noi dong
                $('#KT_NOI_DONG').val(data.KT_NOI_DONG);

                // Lmax
                if (data.KT_CHIEU_DAI != null) $('#KT_CHIEU_DAI').val(data.KT_CHIEU_DAI);
                // Bmax
                if (data.KT_CHIEU_RONG != null) $('#KT_CHIEU_RONG').val(data.KT_CHIEU_RONG);
                // D
                if (data.KT_CHIEU_CAO != null) $('#KT_CHIEU_CAO').val(data.KT_CHIEU_CAO);
                // d
                if (data.KT_MON_NUOC != null) $('#KT_MON_NUOC').val(data.KT_MON_NUOC);
                // f
                if (data.KT_MAN_KHO != null) $('#KT_MAN_KHO').val(data.KT_MAN_KHO);

                // Ltk
                if (data.KT_CHIEU_DAI_TK != null) $('#KT_CHIEU_DAI_TK').val(data.KT_CHIEU_DAI_TK);

                // vat lieu vo
                $('#DVAT_LIEU_VOID').val(data.DVAT_LIEU_VOID);
                // nhom tau
                $('#DNHOM_TAUID').val(data.DNHOM_TAUID);
                // toc do tau
                $('#KT_TOC_DO_TAU').val(data.KT_TOC_DO_TAU);
                // tong cong suat
                $('#KT_TONG_CONG_SUAT').val(data.KT_TONG_CONG_SUAT);
                // so may tau
                $('#KT_SO_MAY_TAU').val(data.KT_SO_MAY_TAU);

                var numberMachine = data.KT_SO_MAY_TAU;
                if (numberMachine != null) {
                    load_may_tau(numberMachine.toString());
                } else {
                    load_may_tau(numberMachine);
                }


                // 1
                // ky hieu may
                $('#M1_KY_HIEU_MAY').val(data.M1_KY_HIEU_MAY);
                // so may
                $('#M1_SO_MAY').val(data.M1_SO_MAY);
                // noi san xuat
                $('#M1_NOI_SX').val(data.M1_NOI_SX);
                // nam che tao
                $('#M1_NAM_CHE_TAO').val(data.M1_NAM_CHE_TAO);
                // hang may
                $('#M1_HANG_MAY').val(data.M1_HANG_MAY);
                // vong quay
                $('#M1_VONG_QUAY').val(data.M1_VONG_QUAY);
                // cong suat
                $('#M1_CONG_SUAT').val(data.M1_CONG_SUAT);

                // 2
                // ky hieu may
                $('#M2_KY_HIEU_MAY').val(data.M2_KY_HIEU_MAY);
                // so may
                $('#M2_SO_MAY').val(data.M2_SO_MAY);
                // noi san xuat
                $('#M2_NOI_SX').val(data.M2_NOI_SX);
                // nam che tao
                $('#M2_NAM_CHE_TAO').val(data.M2_NAM_CHE_TAO);
                // hang may
                $('#M2_HANG_MAY').val(data.M2_HANG_MAY);
                // vong quay
                $('#M2_VONG_QUAY').val(data.M2_VONG_QUAY);
                // cong suat
                $('#M2_CONG_SUAT').val(data.M2_CONG_SUAT);

                // 3
                // ky hieu may
                $('#M3_KY_HIEU_MAY').val(data.M3_KY_HIEU_MAY);
                // so may
                $('#M3_SO_MAY').val(data.M3_SO_MAY);
                // noi san xuat
                $('#M3_NOI_SX').val(data.M3_NOI_SX);
                // nam che tao
                $('#M3_NAM_CHE_TAO').val(data.M3_NAM_CHE_TAO);
                // hang may
                $('#M3_HANG_MAY').val(data.M3_HANG_MAY);
                // vong quay
                $('#M3_VONG_QUAY').val(data.M3_VONG_QUAY);
                // cong suat
                $('#M3_CONG_SUAT').val(data.M3_CONG_SUAT);

                // 4
                // ky hieu may
                $('#M4_KY_HIEU_MAY').val(data.M4_KY_HIEU_MAY);
                // so may
                $('#M4_SO_MAY').val(data.M4_SO_MAY);
                // noi san xuat
                $('#M4_NOI_SX').val(data.M4_NOI_SX);
                // nam che tao
                $('#M4_NAM_CHE_TAO').val(data.M4_NAM_CHE_TAO);
                // hang may
                $('#M4_HANG_MAY').val(data.M4_HANG_MAY);
                // vong quay
                $('#M4_VONG_QUAY').val(data.M4_VONG_QUAY);
                // cong suat
                $('#M4_CONG_SUAT').val(data.M4_CONG_SUAT);

                // 5
                // ky hieu may
                $('#M5_KY_HIEU_MAY').val(data.M5_KY_HIEU_MAY);
                // so may
                $('#M5_SO_MAY').val(data.M5_SO_MAY);
                // noi san xuat
                $('#M5_NOI_SX').val(data.M5_NOI_SX);
                // nam che tao
                $('#M5_NAM_CHE_TAO').val(data.M5_NAM_CHE_TAO);
                // hang may
                $('#M5_HANG_MAY').val(data.M5_HANG_MAY);
                // vong quay
                $('#M5_VONG_QUAY').val(data.M5_VONG_QUAY);
                // cong suat
                $('#M5_CONG_SUAT').val(data.M5_CONG_SUAT);

            },
            error: function (xhr, ajaxOption, thorwnError) {
                console.log(thorwnError);
            }
        });
    }


    function ToJavaScriptDate(value) {
        if (value != null) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
        }
        return null;
    }
</script>