@model FDB.Models.NT_YEUTOVATNUOIDAUVAO
@{
    ViewBag.Title = "Sửa thức ăn, chế phẩm vi sinh, khoáng - hóa chất và thuốc thú y";
}



@using (Html.BeginForm("Edit", "NT_YEUTOVATNUOIDAUVAO", FormMethod.Post, new { @id = "formEdit" }))
{
    <div class="container fdb-div-content fdb-div-corner-all">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="fdb-title-form-24 text-center">
            Thu thập thức ăn, chế phẩm vi sinh, khoáng - hóa chất và thuốc thú y

        </div>

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10"><label id="lblValidThangQuy" style="color: #b94a48"></label></div>
            </div>

            <div class="form-group">

                <div class="col-md-2 control-label">
                    Quý <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.QUY, new List<SelectListItem>
                    {                   new SelectListItem() {Text = "", Value=""},
                                        new SelectListItem() {Text = "Quý I", Value="1"},
                                        new SelectListItem() {Text = "Quý II", Value="2"},
                                        new SelectListItem() {Text = "Quý III", Value="3"},
                                        new SelectListItem() {Text = "Quý IV", Value="4"}

                    }, new { @class = "form-control" })
                    @*@Html.TextBoxFor(m => m.QUY, new { @class = "form-control", @type = "number", @readonly = "true" })*@
                    @Html.ValidationMessageFor(model => model.QUY)
                </div>
                <div class="col-md-2 control-label">
                    Năm <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.NAM, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.NAM)
                    <span id="lblValidateNAM" style="color: #b94a48; display: none"></span>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-2 control-label">
                    Báo cáo từ ngày <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.NGAY_BAOCAO_TU, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NGAY_BAOCAO_TU)

                </div>
                <div class="col-md-2 control-label">
                    Đến ngày <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.NGAY_BAOCAO_DEN, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NGAY_BAOCAO_DEN)
                    <span id="lblValidateBaoCaoDenNgay" style="color: #b94a48; display: none"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 control-label">
                    Tỉnh/Thành phố <label style="color:red;">(*)</label>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.MA_TINHTP, (SelectList)ViewBag.DMTThanhPho,  new { @class = "form-control", @id = "province_dll" })
                    @Html.ValidationMessageFor(model => model.MA_TINHTP)
                </div>
                @*<div class="col-md-2 control-label">
                        Quận/huyện/thị xã <label style="color:red;">(*)</label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.MA_QUANHUYEN, (SelectList)ViewBag.DEFAULT_VALUE_DDL, string.Empty, new { @class = "form-control", @id = "district_dll" })
                        @Html.ValidationMessageFor(model => model.MA_QUANHUYEN)
                    </div>*@
                <div>
                    @Html.HiddenFor(model => model.NGAY_NHAP)
                </div>
            </div>


            <label id="lblValidateDETAIL" style="color: #b94a48"></label>
            <div class="form-group">
                <div class="col-md-12 center-table">
                    <table class="table table-hover table-bordered table-condensed" id="Table1">
                        <tr>
                            <th style="width:120px" align="center">

                            </th>
                            <th style="width:120px" align="center">

                            </th>
                            <th colspan="3" style="text-align:center; font-weight:bold">
                                Nguồn thức ăn (tấn)
                            </th>
                            <th colspan="4" style="text-align: center; font-weight: bold">
                                Chế phẩm vi sinh, khoáng - hóa chất và thuốc thú y (tấn)
                            </th>
                            <th></th>
                        </tr>

                        <tr>
                            <td style="width:120px" align="center" valign="top">
                                Nhóm đối tượng
                            </td>
                            <td style="width:120px" align="center" valign="top">
                                Đối tượng
                            </td>
                            <td valign="top" align="center">
                                Thức ăn nhập

                            </td>
                            <td valign="top" align="center">
                                Thức ăn SX trong nước

                            </td>
                            <td valign="top" align="center">
                                Thức ăn tự tạo

                            </td>
                            <td valign="top" align="center">
                                Vi sinh

                            </td>
                            <td valign="top" align="center">
                                Khoáng chất

                            </td>
                            <td valign="top" align="center">
                                Hóa chất

                            </td>
                            <td valign="top" align="center">
                                Thuốc thú y

                            </td>
                            <td>
                                <label class="BtnPlus" style="cursor:pointer"><img src="@Url.Content("~/fonts/button-add-icon.png")" title="Thêm mới" /></label>

                            </td>
                        </tr>
                        @{

    int i = 1;
    List<FDB.Models.DM_DOITUONG_NUOI> lstDMDoiTuongSelected = new List<FDB.Models.DM_DOITUONG_NUOI>();
    int IDNhomDoiTuongSelected = 1;
    string lblID = "";

    if (Model.DSNT_YeuToVatNuoiDauVaoDetail.Count > 0)
    {
        List<FDB.Models.DM_NHOMDOITUONG_NUOI> lstDMNhomDoiTuongNuoi = (new FDB.DataAccessLayer.FDBContext()).DM_NHOMDOITUONG_NUOI.ToList();
        List<FDB.Models.DM_DOITUONG_NUOI> lstDMDoiTuongNuoi = (new FDB.DataAccessLayer.FDBContext()).DM_DOITUONG_NUOI.ToList();

        foreach (var item in Model.DSNT_YeuToVatNuoiDauVaoDetail)
        {


            lblID = "lblDetail_" + i.ToString();

            <tr>
                <td>

                    <select class="selectNhomNghe" name="ddlID_NUOITRONG_NHOMDOITUONG_@i.ToString()" id="ddlID_NUOITRONG_NHOMDOITUONG_@i.ToString()">

                        @for (int j = 0; j < lstDMNhomDoiTuongNuoi.Count; j++)
                        {
                            if (lstDMNhomDoiTuongNuoi[j].ID == item.ID_NUOITRONG_NHOMDOITUONG)
                            {
                                IDNhomDoiTuongSelected = lstDMNhomDoiTuongNuoi[j].ID;
                                <option value="@lstDMNhomDoiTuongNuoi[j].ID.ToString()" selected="selected">@lstDMNhomDoiTuongNuoi[j].TEN_NHOM</option>
                            }
                            else
                            {
                                <option value="@lstDMNhomDoiTuongNuoi[j].ID.ToString()">@lstDMNhomDoiTuongNuoi[j].TEN_NHOM</option>
                            }

                        }
                    </select>
                </td>
                @{
            lstDMDoiTuongSelected = lstDMDoiTuongNuoi.Where(o => o.DM_NHOMDOITUONG_NUOIID == IDNhomDoiTuongSelected).ToList();

                }
                <td class="col-md-2">

                    <select class="form-control" name="ddlID_NUOITRONG_DOITUONG_@i.ToString()" id="ddlID_NUOITRONG_DOITUONG_@i.ToString()">
                        <option value></option>
                        @for (int j = 0; j < lstDMDoiTuongSelected.Count; j++)
                        {
                            if (lstDMDoiTuongSelected[j].ID == item.ID_NUOITRONG_DOITUONG)
                            {
                                <option value="@lstDMDoiTuongSelected[j].ID.ToString()" selected="selected">@lstDMDoiTuongSelected[j].TEN_DOI_TUONG</option>
                            }
                            else
                            {
                                <option value="@lstDMDoiTuongSelected[j].ID.ToString()">@lstDMDoiTuongSelected[j].TEN_DOI_TUONG</option>
                            }

                        }
                    </select>
                </td>

                <td class="col-md-1"><input type="text" value="@item.THUC_AN_NHAP" class="form-control" name="txtTHUC_AN_NHAP_@i.ToString()" /></td>
                <td class="col-md-1"><input type="text" value="@item.THUC_AN_SX_TRONGNUOC" class="form-control" name="txtTHUC_AN_SX_TRONGNUOC_@i.ToString()" /></td>
                <td class="col-md-1"><input type="text" value="@item.THUC_AN_TUTAO" class="form-control" name="txtTHUC_AN_TUTAO_@i.ToString()" /></td>
                <td class="col-md-1"><input type="text" value="@item.VI_SINH" class="form-control" name="txtVI_SINH_@i.ToString()" /></td>
                <td class="col-md-1"><input type="text" value="@item.KHOANG_CHAT" class="form-control" name="txtKHOANG_CHAT_@i.ToString()" /></td>
                <td class="col-md-1"><input type="text" value="@item.HOA_CHAT" class="form-control" name="txtHOA_CHAT_@i.ToString()" /></td>
                <td class="col-md-1"><input type="text" value="@item.THUOC_THU_Y" class="form-control" name="txtTHUOC_THU_Y_@i.ToString()" /></td>
                <td class="col-md-1">
                    <label class="BtnPlus" style="cursor:pointer"><img src="@Url.Content("~/fonts/button-add-icon.png")" title="Thêm mới" /></label>
                    <label class="BtnMinus" id="@lblID" style="cursor:pointer"><img src="@Url.Content("~/fonts/DELETE.GIF")" title="Xóa" /></label>
                </td>
            </tr>
                        i++;
        }

        ViewBag.sMaxID = i;
    }
                        }
                        @Html.Raw(@ViewBag.sEditHTML)
                    </table>
                </div>
                <div class="col-md-push-4"></div>
            </div>



        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger btn-sm" id="btnsubmit">
                <span class="glyphicon glyphicon-floppy-disk"></span> Cập nhật
            </button>
            &nbsp;&nbsp;
            @Html.ActionLink("Quay lại", "Index", "NT_YEUTOVATNUOIDAUVAO", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
}

<input id="txtDMNhomDoiTuongNuoi" style="display:none" value="@ViewBag.DMNhomDoiTuongNuoi" />
<input id="txtDMDoiTuongNuoi" style="display:none" value="@ViewBag.DMDoiTuongNuoi" />
<label id="lblMaxID" style="display:none">@ViewBag.sMaxID </label>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/datepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/jquery.maskMoney.js"></script>
<script src="~/Scripts/jquery.number.js"></script>
<script src="~/Scripts/jquery.masknumber.js"></script>
<script src="~/Scripts/moment.js"></script>
@*<script src="~/Scripts/CustomValidation.js"></script>*@

<script type="text/javascript">

    $('#NAM').maskNumber({ integer: true, decimal: '', thousands: '' });

    $("#NGAY_BAOCAO_TU").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });
    $("#NGAY_BAOCAO_TU").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

    $("#NGAY_BAOCAO_DEN").datepicker({
        changeMonth: true,
        changeYear: true,

        dateFormat: 'dd/mm/yy'
    });
    $("#NGAY_BAOCAO_DEN").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

    // Validate Quy > Quy Now
    $.validator.addMethod("validatequylessthanquynow", function (value, element, params) {

        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1;
        var inQuy = "1";
        switch (month) {
            case "1":
            case "2":
            case "3":
                inQuy = "1";
                break;
            case "4":
            case "5":
            case "6":
                inQuy = "2";
                break;
            case "7":
            case "8":
            case "9":
                inQuy = "3";
                break;
            case "10":
            case "11":
            case "12":
                inQuy = "4";
                break;
        }
        var Quy = inQuy;

        if ($(params).val() == year && value > Quy) {

            return false;
        }
        else
            return true;
    });

    $.validator.unobtrusive.adapters.add("validatequylessthanquynow", ["otherpropertyname"], function (options) {
        options.rules["validatequylessthanquynow"] = "#" + options.params.otherpropertyname;
        options.messages["validatequylessthanquynow"] = options.message;
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {


        $("#Table1").find('input').number(true, 2);

        var lblID = "#lblDetail_1";
        var ID = 1;

        if ($('#lblMaxID').html().trim() != "") {
            ID = parseInt($('#lblMaxID').html().toString());
        }


        var strNhomDoiTuongNuoi = $('#txtDMNhomDoiTuongNuoi').val();
        var strDDL3 = strNhomDoiTuongNuoi + '</select>';
        var strDoiTuongNuoi = $('#txtDMDoiTuongNuoi').val();
        var strDDL2 = strDoiTuongNuoi + '</select>';

        function addRow() {
            var html =
                '<tr >' +
                '<td><select  name="ddlID_NUOITRONG_NHOMDOITUONG_' + ID + '" class="selectNhomNghe" id="ddlID_NUOITRONG_NHOMDOITUONG_' + ID + '">' + strDDL3 + '</td>' +
                '<td><select class="form-control" name="ddlID_NUOITRONG_DOITUONG_' + ID + '" id="ddlID_NUOITRONG_DOITUONG_' + ID + '">' + strDDL2 + '</td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" id="txtTHUC_AN_NHAP_' + ID + '" name="txtTHUC_AN_NHAP_' + ID + '" /></td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" id="txtTHUC_AN_SX_TRONGNUOC_' + ID + '" name="txtTHUC_AN_SX_TRONGNUOC_' + ID + '" /></td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" name="txtTHUC_AN_TUTAO_' + ID + '" /></td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" name="txtVI_SINH_' + ID + '" /></td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" name="txtKHOANG_CHAT_' + ID + '" /></td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" name="txtHOA_CHAT_' + ID + '" /></td>' +
                '<td class="col-md-1"><input type="text" value="" class="form-control" name="txtTHUOC_THU_Y_' + ID + '" /></td>' +

                '<td class="col-md-1"> <label class="BtnPlus" style="cursor:pointer" ><img src="@Url.Content("~/fonts/button-add-icon.png")" title="Thêm mới" /></label>' +
                ' <label class="BtnMinus" id="lblDetail_' + ID + '" style="cursor:pointer"><img src="@Url.Content("~/fonts/DELETE.GIF")" title="Xóa"  /></label>' +
                '</td>' +
                '</tr>'
            $(html).appendTo($("#Table1"));
            // mask decimal ở đây:
            $("#Table1").find('input[type=text]').number(true, 2);
            ID++;

        };
        $("#Table1").on("click", ".BtnPlus", addRow);

        $("#Table1").on("click", ".BtnMinus", deleteRow);

        //Sự kiện on change Nhóm đối tượng nuôi ==> đối tượng nuôi
        $(document).on('change', ".selectNhomNghe", function () {
            // alert($(this).val());
            var nhomDoiTuongVal = $(this).val();
            var thisID = $(this).attr('id');
            var lastNumber = thisID.split('_');
            var DoiTuongID = 'ddlID_NUOITRONG_DOITUONG_' + lastNumber[lastNumber.length - 1].toString();
            // alert(DoiTuongID);
            var DoiTuongval = $("#" + DoiTuongID);
            // alert(DoiTuongval);
            // load thông tin đối tượng nuôi theo nhóm:
            $.ajax({
                url:'@Url.Action("getDoiTuongByNhom", "NT_YEUTOVATNUOIDAUVAO")',
                type: 'post',
                data: {
                    ma_NhomDoiTuong: nhomDoiTuongVal
                }
            }).done(function (response) {
                // alert(response.toString());
                var a = '<option value></option>' + response;
                $("#" + DoiTuongID).html(a);

            });

        });

        function deleteRow() {
            lblID = $(this).attr('id');
            lblID = "#" + lblID.toString().trim();
            if (confirm("Bạn chắc chắn muốn xóa?")) {
                var par = $(this).parent().parent();
                par.remove();
            }

            return false;

        };

        var validateNGAYNHAP = true;
        //Validate cac text box, bắt buộc phải nhập 1 trong 10 textbox
        $('#btnsubmit').click(function () {
            var currentTime = new Date();
            var currentYear = currentTime.getFullYear();
            var lblValidateNAM = $('#lblValidateNAM');
            lblValidateNAM.html('');
            var valQuy = $('#QUY').val();

            var txtNAM = $('#NAM').val();
            if (txtNAM > currentYear) {
                lblValidateNAM.attr("style", "display:block;color:#b94a48;font-size: 12px;line-height: 1.428");
                lblValidateNAM.html('(*)Năm không được lớn hơn năm hiện tại');
                $('#NAM').focus();
                return false;
            }

            else if (ThangInQuy(valQuy) == false) {
                $('#lblValidThangQuy').html('(*)Báo cáo từ và báo cáo đến phải nằm trong quý!');
                return false;
            }
            else
                $('#lblValidThangQuy').html('');


            $('#lblValidateBaoCaoDenNgay').html('');
            //validate báo cáo từ <báo cáo đến
            if (validateNGAYNHAP == false) {
                $('#lblValidateBaoCaoDenNgay').html('Báo cáo đến ngày phải lơn hơn hoặc bằng báo cáo từ ngày!');
                $('#lblValidateBaoCaoDenNgay').attr("style", "display:block;color: #b94a48;font-size: 12px;line-height: 1.428");
                return false;
            }
            else {
                $('#lblValidateBaoCaoDenNgay').html('');
                $('#lblValidateBaoCaoDenNgay').attr("style", "display:none");

            }
            //-----------END validate báo cáo từ <báo cáo đến

            var table1 = $("#Table1");
            var countAll = 0;
            var countVal = 0;
            var vReturn = true;
            $(table1).find('tr')
            .each(function () {
                $(this).find('td input')
                .each(function () {
                    var txt = $(this).val();
                    if (txt == "") {
                        countVal++;
                    }
                    if (countVal == 7) {
                        $(this).parent().parent().find('td input').css("border", "solid 1px #b94a48");
                        $(this).parent().parent().find('td input').eq(0).focus();
                        vReturn = false;
                    }
                    else {
                        $(this).css("border", "solid 1px #cccccc");

                    }
                    countAll++;
                });
                countVal = 0;

            });

            if (countAll == 0) {
                $('#lblValidateDETAIL').html('(*)Bạn phải nhập danh sách chi tiết!');
                vReturn = false;
            }
            else {
                $('#lblValidateDETAIL').html('');

            }

            return vReturn;
        }
       );

        //lblValidateBaoCaoDenNgay
        $("#NGAY_BAOCAO_DEN").change(function () {
            var NgayDen = $("#NGAY_BAOCAO_DEN").val();
            var NgayTu = $("#NGAY_BAOCAO_TU").val();

            if (moment(NgayDen, 'DD/MM/YYYY') < moment(NgayTu, 'DD/MM/YYYY')) {
                $('#lblValidateBaoCaoDenNgay').html('Báo cáo đến ngày phải lơn hơn hoặc bằng báo cáo từ ngày!');
                $('#lblValidateBaoCaoDenNgay').attr("style", "display:block;color: #b94a48;font-size: 12px;line-height: 1.428");
                validateNGAYNHAP = false;
            }

            else {
                $('#lblValidateBaoCaoDenNgay').html('');
                $('#lblValidateBaoCaoDenNgay').attr("style", "display:none");
                validateNGAYNHAP = true;
            }

        });


        function ThangInQuy(valQuy) {


            var someBaoCaoTu = $("#NGAY_BAOCAO_TU").val();
            var someBaoCaoDen = $("#NGAY_BAOCAO_DEN").val();
            var valNAM = $("#NAM").val();
            // var valQUY = $("#QUY").val();
            var currentTime = new Date();
            var year = currentTime.getFullYear();
            var month = currentTime.getMonth() + 1;
            var currentQuy = "1";
            switch (month) {
                case "1":
                case "2":
                case "3":
                    currentQuy = "1";
                    break;
                case "4":
                case "5":
                case "6":
                    currentQuy = "2";
                    break;
                case "7":
                case "8":
                case "9":
                    currentQuy = "3";
                    break;
                case "10":
                case "11":
                case "12":
                    currentQuy = "4";
                    break;
            }


            var inQuy = true;
            if ((valQuy != null && valQuy != "" && parseInt(valQuy, 10) <= parseInt(currentQuy, 10)) && someBaoCaoTu != null && someBaoCaoTu != "" && someBaoCaoDen != null && someBaoCaoDen != "" && valNAM != null && valNAM != "" && valNAM <= year) {
                switch (valQuy) {
                    case "1":
                        inQuy = moment(someBaoCaoTu, 'DD/MM/YYYY') >= moment('01/01/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoTu, 'DD/MM/YYYY') <= moment('31/03/' + valNAM, 'DD/MM/YYYY') & moment(someBaoCaoDen, 'DD/MM/YYYY') >= moment('01/01/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoDen, 'DD/MM/YYYY') <= moment('31/03/' + valNAM, 'DD/MM/YYYY');
                        break;
                    case "2":
                        inQuy = moment(someBaoCaoTu, 'DD/MM/YYYY') >= moment('01/04/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoTu, 'DD/MM/YYYY') <= moment('30/06/' + valNAM, 'DD/MM/YYYY') & moment(someBaoCaoDen, 'DD/MM/YYYY') >= moment('01/04/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoDen, 'DD/MM/YYYY') <= moment('30/06/' + valNAM, 'DD/MM/YYYY');
                        break;
                    case "3":
                        inQuy = moment(someBaoCaoTu, 'DD/MM/YYYY') >= moment('01/07/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoTu, 'DD/MM/YYYY') <= moment('30/09/' + valNAM, 'DD/MM/YYYY') & moment(someBaoCaoDen, 'DD/MM/YYYY') >= moment('01/07/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoDen, 'DD/MM/YYYY') <= moment('30/09/' + valNAM, 'DD/MM/YYYY');
                        break;
                    case "4":
                        inQuy = moment(someBaoCaoTu, 'DD/MM/YYYY') >= moment('01/10/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoTu, 'DD/MM/YYYY') <= moment('31/12/' + valNAM, 'DD/MM/YYYY') & moment(someBaoCaoDen, 'DD/MM/YYYY') >= moment('01/10/' + valNAM, 'DD/MM/YYYY') && moment(someBaoCaoDen, 'DD/MM/YYYY') <= moment('31/12/' + valNAM, 'DD/MM/YYYY');
                        break;
                }
            }
            return inQuy;
        }

    });
</script>
