@model FDB.Models.ViewModelSearchNT_YEUTOVATNUOIDAUVAO
@using PagedList.Mvc; @*Mo*@
@using FDB.Helpers;

<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
@{
    ViewBag.Title = "thức ăn, chế phẩm vi sinh, khoáng - hóa chất và thuốc thú y";
}

<div class="container fdb-div-content fdb-div-corner-all">
    <h3 class="text-center fdb-title-search-form">Thức ăn, chế phẩm vi sinh, khoáng - hóa chất và thuốc thú y <br /></h3>
    @*<h6 class="text-center fdb-title-form-14">(chế phẩm, vi sinh, khoáng chất)</h6>*@
    <br />
    <div class="container">
        <label id="lblMessage" style="color:blue; font-weight:bold">@TempData["_SUCCESS"]</label>
        @using (Html.BeginForm("Index", "NT_YEUTOVATNUOIDAUVAO", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-2 control-label">
                    Đối tượng nuôi
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.DoiTuongNuoi, (SelectList)ViewBag.DMDoiTuongNuoi, string.Empty, new { @class = "form-control" })
                </div>
                <div class="col-md-2 control-label">
                    Nhóm đối tượng nuôi
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.NhomDoiTuongNuoi, (SelectList)ViewBag.DMNhomDoiTuongNuoi, string.Empty, new { @class = "form-control" })
                </div>

            </div>

            <div class="row margin-top-05">
                <div class="col-md-2 control-label">
                    Tỉnh/Thành phố
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.TThanhPho, (SelectList)ViewBag.DMTThanhPho, string.Empty, new { @class = "form-control", @id = "province_dll" })
                </div>

            </div>

            <div class="row margin-top-05">
                <div class="col-md-2 control-label">
                    Năm
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Nam, new { @class = "form-control", @type = "text", @min = "1900" })
                </div>
                <div class="col-md-2 control-label">
                    Quý
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.Quy, new List<SelectListItem>
                    {                   new SelectListItem() {Text = "", Value=""},
                                        new SelectListItem() {Text = "Quý I", Value="1"},
                                        new SelectListItem() {Text = "Quý II", Value="2"},
                                        new SelectListItem() {Text = "Quý III", Value="3"},
                                        new SelectListItem() {Text = "Quý IV", Value="4"}

                    }, new { @class = "form-control" })

                </div>
            </div>


            @*<p class="margin-top-05">
                    <input type="submit" name="SearchButton" value="Tìm kiếm" class="btn btn-primary btn-sm" />
                    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary btn-sm" })
                </p>*@
            <p class="margin-top-05">
                <button type="submit" class="btn btn-primary btn-sm" name="SearchButton" value="Tìm kiếm">
                    <span class="glyphicon glyphicon-search"></span> Tìm kiếm
                </button>

                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Thêm mới", "Create", "NT_YEUTOVATNUOIDAUVAO", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
            </p>
        }

        <label id="lblMessageTotal" style="color:blue; font-weight:bold">Tổng số bản ghi: @ViewBag.TotalRow</label>
        <div class="row">
            <table class="table table-hover table-bordered table-condensed">
                <tr>
                    <th>
                        Tỉnh/Thành phố
                    </th>
                    <th>
                        Báo cáo từ ngày
                    </th>
                    <th>
                        Báo cáo đến
                    </th>
                    <th>
                        Quý
                    </th>
                    <th>
                        Năm
                    </th>
                    <th>
                        Người nhập
                    </th>
                    <th>
                        Ngày nhập
                    </th>
                    <th></th>
                </tr>
                @{
                    if (Model.SearchResults != null)
                    {
                        foreach (var item in Model.SearchResults)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DMTinhTP.TEN_TINHTP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGAY_BAOCAO_TU)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGAY_BAOCAO_DEN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QUY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGUOI_NHAP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGAY_NHAP)
                                </td>
                                <td>
                                    <a href='@Url.Action("Edit", "NT_YEUTOVATNUOIDAUVAO", new { id = item.ID })'>
                                        <img src="@Url.Content("~/fonts/grid-edit-icon.png")" title="Sửa" />
                                    </a>

                                    <a href='@Url.Action("Delete", "NT_YEUTOVATNUOIDAUVAO", new { id = item.ID })' onclick="return confirm('Bạn chắc chắn muốn xóa không?');" class="lnkDelete">
                                        <img src="@Url.Content("~/fonts/grid-delete-icon1.gif")" title="Xóa" />
                                    </a>

                                </td>
                            </tr>
                        }
                    }


                }

            </table>

            <br />
            <br />
            @Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", new { page, Model.Quy, Model.Nam, Model.DoiTuongNuoi, Model.TThanhPho, Model.NhomDoiTuongNuoi }))
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.masknumber.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#Nam').maskNumber({ integer: true, decimal: '', thousands: '' });
        // load district by province when change in dropdownlist
        $("#province_dll").change(function () {
            $.ajax({
                url: '@Url.Action("getDistrict", "NT_YEUTOVATNUOIDAUVAO")',
                type: 'post',
                data: {
                    ma_TinhTP: $('#province_dll').val()
                }
            }).done(function (response) {
                // update district by province
                var a = '<option value>--Quận/huyện--</option>' + response;   // defaut value
                $("#district_dll").html(a);


            });
        });


    });


</script>
