@model FDB.Models.KT_KHUBAOTON

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm("Edit", "KT_KHUBAOTON", FormMethod.Post, new { @id = "formEdit" }))
{
    <div class="container fdb-div-content fdb-div-corner-all">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <br />
            <div>
                <div class="col-md-6">
                    <fieldset class="fdb-scheduler-border">
                        <legend class="fdb-title-form text-center">Thông tin khu bảo tồn</legend>
                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Loại khu bảo tồn<label style="color:red;">(*)</label></div>

                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.DKHU_BAO_TONID, (SelectList)ViewBag.DM_KHUBAOTONs, "--Chọn loại khu bảo tồn--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DKHU_BAO_TONID)
                            </div>
                        </div>

                        <div class="row margin-top-05">

                            <div class="control-label col-md-4 text-left">Tên khu bảo tồn<label style="color:red;">(*)</label></div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.TEN_KHU_BAO_TON, new { @class = "form-control", @id = "txtName" })
                                @Html.ValidationMessageFor(model => model.TEN_KHU_BAO_TON)
                            </div>
                        </div>


                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Vĩ độ</div>

                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.VIDO, new { @class = "form-control gmap", @id = "txtToadoX" })
                                @*<input type="text" id="txtToadoX" class="form-control gmap" />*@
                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Kinh độ</div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.KINHDO, new { @class = "form-control gmap", @id = "txtToadoY"  })
                                @*<input type="text" id="txtToadoY" class="form-control gmap" />*@
                            </div>

                        </div>




                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">
                                Tỉnh/TP <label style="color:red;">(*)</label>

                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.MA_TINHTP, (SelectList)ViewBag.DTINHTPs, new { @class = "form-control", @id = "province_dll" })
                                @Html.ValidationMessageFor(model => model.MA_TINHTP)
                            </div>


                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">
                                Quận/Huyện
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.MA_QUANHUYEN, (SelectList)ViewBag.QUAN_HUYENs, string.Empty, new { @class = "form-control", @id = "district_dll" })
                                @Html.ValidationMessageFor(model => model.MA_QUANHUYEN)
                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">
                                Xã/phường
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.MA_PHUONGXA, (SelectList)ViewBag.PHUONG_XAs, string.Empty, new { @class = "form-control", @id = "ward_dll" })
                                @Html.ValidationMessageFor(model => model.MA_PHUONGXA)
                            </div>
                        </div>



                        <div class="row margin-top-05">

                            <div class="control-label col-md-4 text-left">Địa chỉ</div>
                            <div class="col-md-8">

                                @Html.TextBoxFor(model => model.DIA_CHI, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DIA_CHI)

                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Tổng diện tích (ha)</div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TONG_DIENTICH, new { @class = "form-control", data_val_number = "Tổng diện tích phải là số." })
                                @Html.ValidationMessageFor(model => model.TONG_DIENTICH)
                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Phần đất liền (ha)</div>

                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PHAN_DATLIEN, new { @class = "form-control", data_val_number = "Phần đất liền phải là số." })
                                @Html.ValidationMessageFor(model => model.PHAN_DATLIEN)


                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Phần nước (ha)</div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PHAN_NUOC, new { @class = "form-control", data_val_number = "Phần nước phải là số." })
                                @Html.ValidationMessageFor(model => model.PHAN_NUOC)


                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Phạm vi giới hạn(ha)</div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.PHAMVI_GIOIHAN, new { @class = "form-control", data_val_number = "Phạm vi giới hạn phải là số." })
                                @Html.ValidationMessageFor(model => model.PHAMVI_GIOIHAN)

                            </div>
                        </div>





                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Nơi sâu nhất (m)</div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.NOI_SAU_NHAT, new { @class = "form-control", data_val_number = "Nơi sâu nhất phải là số." })
                                @Html.ValidationMessageFor(model => model.NOI_SAU_NHAT)

                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Hệ sinh thái</div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.HE_SINH_THAI, new { @class = "form-control fdb_textarea", @rows = "20", @cols = "50" })
                                @Html.ValidationMessageFor(model => model.HE_SINH_THAI)

                            </div>
                        </div>



                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Công tác bảo tồn</div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.CONGTAC_BAOTON, new { @class = "form-control fdb_textarea", @rows = "20", @cols = "50" })

                                @Html.ValidationMessageFor(model => model.CONGTAC_BAOTON)

                            </div>
                        </div>

                        <div class="row margin-top-05">
                            <div class="control-label col-md-4 text-left">Ghi chú</div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.GHICHU, new { @class = "form-control fdb_textarea", @rows = "20", @cols = "50" })

                                @Html.ValidationMessageFor(model => model.GHICHU)

                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-md-6">
                    <br />
                    <div class="helpbox_visible block-content margin-top-05">
                        <ul>
                            Hướng dẫn
                            <li>Bản đồ</li>
                            <li>Nhập vĩ độ,kinh độ</li>
                            <li>Nhấn Enter để hiển thị vị trí trên bản đồ</li>
                        </ul>
                    </div>
                    <br />
                    <div id="googleMap" style="height: 300px;"></div>
                    <br />
                   
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span> Cập nhật
            </button>
            &nbsp;
            @Html.ActionLink("Quay lại", "Index", "KT_KHUBAOTON", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/jquery.maskMoney.js"></script>
<script src="~/Scripts/jquery.number.js"></script>
<script src="~/Scripts/datepicker.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/CustomValidation.js"></script>

<script>
    $(document).ready(function () {
        // load district by province when change in dropdownlist
        $("#province_dll").change(function () {
            $.ajax({
                url: '@Url.Action("getDistrict","KT_KHUBAOTON")',
                type: 'post',
                data: {
                    ma_TinhTP: $('#province_dll').val()
                }
            }).done(function (response) {
                // update district by province
                var a = '<option value></option>' + response;   // defaut value
                $("#district_dll").html(a);

                // reset ward
                var b = '<option value></option>'
                $('#ward_dll').html(b);
            });
        });


        // load ward by disctrict when change in dropdownlist
        $("#district_dll").change(function () {
            $.ajax({
                url: '@Url.Action("getWard", "KT_KHUBAOTON")',
                type: 'post',
                data: {
                    ma_QuanHuyen: $('#district_dll').val()
                }
            }).done(function (response) {
                var a = '<option value></option>' + response;   // defaut value
                $("#ward_dll").html(a);
            });
        });
    });
</script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCPZmHHV9YSRu57R2-n0Hs6aXD8DxfCFOs"></script>*@
<script type="text/javascript">

    //var toadoX = $("#txtToadoX").val();
    //var toadoY = $("#txtToadoY").val();

    //var gmap = new google.maps.LatLng(toadoX,toadoY);
    //var marker;

    //function WinOp() {
    //    popup = window.open("", "", "height=500, width=900, top=150, left=300, scrollbars=1")
    //    popup.document.write('<div id="googleMap"></div>')
    //    popup.document.close()
    //    return false;
    //}

    var name_khuneodau = $("#txtName").val();
    function initialize(X, Y) {
        var gmap = new google.maps.LatLng(X, Y);
        var marker;

        var mapProp = {
            center: new google.maps.LatLng(X, Y),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap")
        , mapProp);

        var styles = [
          {
              featureType: 'road.arterial',
              elementType: 'all',
              stylers: [
                { hue: '#fff' },
                { saturation: 100 },
                { lightness: -48 },
                { visibility: 'on' }
              ]
          }, {
              featureType: 'road',
              elementType: 'all',
              stylers: [

              ]
          },
          {
              featureType: 'water',
              elementType: 'geometry.fill',
              stylers: [
                  { color: '#adc9b8' }
              ]
          }, {
              featureType: 'landscape.natural',
              elementType: 'all',
              stylers: [
                  { hue: '#809f80' },
                  { lightness: -35 }
              ]
          }
        ];

        var styledMapType = new google.maps.StyledMapType(styles);
        map.mapTypes.set('Styled', styledMapType);

        marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.BOUNCE,
            position: gmap,
            //icon: {
            //    //url: 'http://maps.gstatic.com/mapfiles/circle.png',
            //    anchor: new google.maps.Point(10, 10),
            //    scaledSize: new google.maps.Size(10, 17)
            //}
        });

        var infowindow = new google.maps.InfoWindow({
            content: name_khuneodau
        });

        infowindow.open(map, marker);

        google.maps.event.addListener(marker, 'click', toggleBounce);
    }

    function toggleBounce() {

        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }


    $(document).ready(function () {
       
        var toadoX = $('input[name="VIDO"]').val();
        var toadoY = $('input[name="KINHDO"]').val();
     
        if ((toadoX != '') && (toadoY != '')) 
        {
            google.maps.event.addDomListener(window, 'load', initialize(toadoX, toadoY));
            
        
        }
        else
        {
            $("#googleMap").hide();
        }
        

    });
    


    $('input.form-control.gmap').keypress(function (e) {
        if (e.which == '13') {
            e.preventDefault();

            var toadoX = $("#txtToadoX").val();
            var toadoY = $("#txtToadoY").val();
           

            google.maps.event.addDomListener(window, 'load', initialize(toadoX, toadoY));
        }
    });
</script>
